/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 6, 2022, 7:08:44 PM
    Author     : darod
*/


.txt-ingreso{
    text-align: left;
    vertical-align: top;
}
#searchWidget{
    margin-left: 30%
        
    
}
.div-aire{
    width: 50%;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.div-requisitos{
    
    width: 50%;
    vertical-align: top;
}

.div-req-requisitos{
    vertical-align: top;
}

.caja-general{
    padding-top: 20px;
    padding-left: 25px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    vertical-align: top;
}
nav {
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    height: 80px;
    
}

footer{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.redes{
    cursor: pointer;
}
.redes:hover{
    transform: scale(1.2);
}

.logo{
    cursor:none;
}

.logo-1{
    color: white;
}

.logo-1:hover{
    color: #ea1538;
    transition: .3s;
}

.logo-2{
    color: white;
}

.logo-2:hover{
    color: #ea1538;
    transition: .3s;
}

.logo-3{
    color: white;
}

.logo-3:hover{
    color: #ea1538;
    transition: .3s;
}

.logo-4{
    color: white;
}

.logo-4:hover{
    color: #ea1538;
    transition: .3s;
}
.logo-5{
    color: white;
}

.logo-5:hover{
    color: midnightblue;
    transition: .3s;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: #ea1538;
    transition: .3s;
}
button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.2);
    cursor:pointer;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.body-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
}